@page
@model IEnumerable<EFDataAccessLibrary.Models.Worker>
@{
}
<h2>Worker info</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Surname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hobbies)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Positions)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Emails)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Addresses)
        </th>
    </tr>
</table>